@media (min-width: 780px) {
  .so-widget-sow-layout-slider-default-e4709a7f91f8 {
    min-height: 600px;
  }
}
.so-widget-sow-layout-slider-default-e4709a7f91f8 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: 50px 20px 50px 20px;
  max-width: 1280px;
  height: 600px;
}
@media (max-width: 780px) {
  .so-widget-sow-layout-slider-default-e4709a7f91f8 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
    height: auto;
  }
}
.so-widget-sow-layout-slider-default-e4709a7f91f8 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-layout-slider-default-e4709a7f91f8 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-layout-slider-default-e4709a7f91f8 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}